.section1 {


    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;



}

.headingBox {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainHeading {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.mainSubHeading {
    font-size: 17px;
    color: rgb(51 51 51 / 0.6);
    font-weight: 600;
}



.mainImage {
    border-radius: 40px;
    width: 85%;
    margin: 0px auto;
}


/* section2 */

.section2 {
    margin-bottom: 6rem;
}

.section2Heading {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}


.section2SubHeading {
    text-align: center;
    font-size: 17px;
    color: rgb(51 51 51 / 0.6);
    font-weight: 600;
}


.featuresBox {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
}

.featuresAndImg {
    display: flex;
    width: 500px;
    /* background-color: rgba(128, 0, 128, 0.2); */
    background-color: hsl(213, 58%, 96%);
    padding: 20px;
    border-radius: 15px;
    gap: 15px;
}

.featuresAndImg:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.featuresHeading {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}




.featuresDescription {
    font-size: 17px;
    color: rgb(51 51 51 / 0.6);
    font-weight: 600;
}



.section3 {
    margin-bottom: 6rem;
}


.billingHeading {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}


.billingSubHeading {
    text-align: center;
    font-size: 17px;
    color: rgb(51 51 51 / 0.6);
    font-weight: 600;
}

.billingBox {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
}

.billingDescriptionBox {
    display: flex;
    width: 400px;
    background-color: #fff0e6;
    padding: 20px;
    border-radius: 15px;
    gap: 40px;
}

.billingDescriptionBox:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.billingDescriptionHeading {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}


.billingDescriptionSubHeading {
    font-size: 17px;
    color: rgb(51 51 51 / 0.6);
    font-weight: 600;
}



@media (max-width : 1000px) {
    .section1 {
        flex-direction: column-reverse;
    }

    .mainHeading {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .headingBox {
        padding: 20px;
        width: unset;
    }

    .mainImageBox {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .mainImage {
        width: 85%;
        border-radius: 30px;
    }

    .section2Heading {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .featuresAndImg {
        width: 90%;
    }

    .featuresHeading {
        font-size: 20px;
    }


    .billingHeading {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .billingDescriptionBox {
        width: 90%;
    }

    .billingDescriptionHeading {
        font-size: 20px;
    }
}